-#= get_menu_haml @menus
-#.grid_2
  -#%h2=link_to '日记', articles_url
-#-#.grid_2
  -#-#= '相册'
  -#-#=link_to '相册', photos_url
-#.grid_2
  -#%h2=link_to '闲聊', chats_url
-#.grid_2
  -#%h2=link_to '读过的', reads_url
-#.grid_2
  -#%h2=link_to '看过的', watchs_url
-#.grid_2.suffix_2
  -#%h2=link_to '关于自己', about_index_url
-#.clear
-#.grid_2
  %h2 &nbsp;
.grid_7.suffix_5
  %ul#nav
    -#%li=link_to '日记', articles_url
    -#%li=link_to '闲聊', chats_url
    -#%li=link_to '读过的书籍', reads_url
    -#%li=link_to '看过的电影', watchs_url
    %li=link_to '关于自己', about_index_url
.clear
